<!doctype html>
<title>Connect with Plaid</title>
<body>
  <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
  <script type="text/javascript">
    var linkHandler = Plaid.create({
      env: 'tartan',
      clientName: 'Petra',
      key: 'bcc7e7ff5ad490ec101d6f979d695b',
      product: 'connect',
      // To use Link with longtail institutions on Connect, set the
      // 'longtail' option to true:
      // longtail: true,
      onLoad: function() {
        // The Link module finished loading.
        window.setTimeout(function() {
          linkHandler.open();
        }, 100);
        window.petra_status = 'loaded';
      },
      onSuccess: function(public_token, metadata) {
        // Send the public_token to your app server here.
        // The metadata object contains info about the institution the
        // user selected and the account ID, if selectAccount is enabled.
        console.log(metadata);
        console.log(public_token);
        window.petra_public_token = public_token;
        window.petra_status = 'success';
      },
      onExit: function() {
        // The user exited the Link flow.
        window.petra_status = 'exited';
      }
    });
  </script>
</body>
